<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <!-- Simplified - no need for arguments since we hardcode values -->
  
  <!-- Include the Franka robot with correct parameters -->
  <xacro:franka_robot 
    arm_id="fr3"
    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
    inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
    kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
    dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
    gazebo="true"
    hand="true" 
    ee_id="franka_hand"
    ros2_control="true"
    use_fake_hardware="true"
    connected_to="world" />


</robot>