<?xml version="1.0"?>
<robot name="ur5_with_gripper" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Parameters -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo" default="true"/>
  <xacro:arg name="simulation_controllers" default=""/>

  <!-- Include UR5 description -->
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>
  
  <!-- Include Robotiq gripper -->
  <xacro:include filename="$(find ur5_gripper_config)/urdf/robotiq_2f85.xacro"/>

  <!-- UR5 robot -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    sim_gazebo="$(arg sim_gazebo)"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Attach Robotiq gripper to tool0 -->
  <xacro:robotiq_2f85_gripper prefix="$(arg tf_prefix)" parent="$(arg tf_prefix)tool0">
    <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
  </xacro:robotiq_2f85_gripper>

  <!-- Define additional materials for Gazebo -->
  <gazebo reference="$(arg tf_prefix)gripper_base_link">
    <material>Gazebo/DarkGrey</material>
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
  </gazebo>

  <gazebo reference="$(arg tf_prefix)left_finger_link">
    <material>Gazebo/Black</material>
    <mu1>1.2</mu1>
    <mu2>1.2</mu2>
  </gazebo>

  <gazebo reference="$(arg tf_prefix)right_finger_link">
    <material>Gazebo/Black</material>
    <mu1>1.2</mu1>
    <mu2>1.2</mu2>
  </gazebo>

</robot>