<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/xacro" name="ur5_with_robotiq">

  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="sim_gazebo" default="false" />

  <xacro:arg name="simulation_engine" default="mock" />
  
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:include filename="$(find ur_robotiq_moveit_config)/config/ur5_with_robotiq.ros2_control.xacro" />

  <link name="world" />

  <xacro:ur_robot
    name="ur5e"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    use_fake_hardware="$(arg use_fake_hardware)" 
    sim_gazebo="$(arg sim_gazebo)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:robotiq_gripper
      name="robotiq_2f_85"
      prefix=""
      parent="tool0"
      use_fake_hardware="$(arg use_fake_hardware)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>
  
  <xacro:if value="$(arg use_fake_hardware)">
    <xacro:ur5_with_robotiq_ros2_control 
        name="FakeSystem" 
        initial_positions_file="$(find ur_robotiq_moveit_config)/config/initial_positions.yaml"
        simulation_engine="$(arg simulation_engine)"/>
  </xacro:if>

  <xacro:if value="$(arg sim_gazebo)">
    <xacro:ur5_with_robotiq_ros2_control
        name="GazeboSystem" 
        initial_positions_file="$(find ur_robotiq_moveit_config)/config/initial_positions.yaml"
        simulation_engine="$(arg simulation_engine)"/>
  </xacro:if>

</robot>